html {
    color: #24292e;
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-3dlight-color: red;
  }
  
  body {
    color: #24292e;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Segoe UI Emoji";
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background: #24292e;
    padding: 0.2rem 0.6rem;
  }
  
  .header--menu {
    color: #fff;
  }
  
  .profile {
    margin: 0 auto;
    width: 92%;
  }
  
  .profile__setup {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.2rem 0rem;
  }
  
  .profile__details {
    text-align: left;
  }
  
  .profile--img {
    border: 1px solid #f3f3f3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 1.4rem;
    height: 60px;
    width: 60px;
  }
  
  .profile--name {
    margin: 0;
    margin-bottom: 0.2 rem;
  }
  
  .profile--username {
    font-size: 1.1rem;
    font-weight: 100;
    margin: 0;
  }
  
  .profile--status {
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    margin-bottom: 0.3rem;
    padding: 0.4rem 0.6rem;
  }
  
  .profile--status i {
    color: #8a8a8a;
    margin-right: 0.3rem;
  }
  
  .profile--about {
    font-size: 1rem;
    margin-left: 0.2rem;
    margin-top: 0.6rem;
  }
  
  .profile--edit-button {
    background: #fafbfc;
    color: #5e5e5e;
    font-size: 0.9rem;
    font-weight: lighter;
    border: 1px solid #bebebe;
    border-radius: 4px;
    padding: 0.4rem 0;
    width: 100%;
  }
  
  .profile__extras--company {
    display: none;
  }
  
  .profile__extras--location {
    display: none;
  }
  
  .profile__extras--website {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
  }
  
  .profile__extras--website a {
    color: #424242;
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  .profile__extras--metrics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .profile__extras--metrics p {
    font-size: 0.9rem;
    margin: 0;
    margin-top: 0.7rem;
    margin-right: 0.7rem;
    padding: 0;
  }
  
  .profile--website a {
    color: #424242;
    text-decoration: none;
  }
  
  .tabs--container {
    margin-bottom: 1rem;
    margin-top: 3.5rem;
    padding: 0;
    overflow: scroll;
  }
  
  .tabs--list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #e1e4e8;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 2.2rem;
    width: 420px;
  }
  
  .tabs--list li {
    margin-right: 1.5rem;
    padding-bottom: 0.5rem;
  }
  
  .tabs--list li:last-child {
    margin-right: 0rem;
  }
  
  .tab--active {
    border-bottom: 2px solid orange;
  }
  
  .tab--badge {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #dbdbdb;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 50%;
    font-size: 0.8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 23px;
    width: 23px;
  }
  
  .activity {
    margin: 0 auto;
    width: 92%;
  }
  
  .search--input {
    border: 0.5px solid #e1e4e8;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    width: 95%;
  }
  
  .search--input:focus {
    border: 0.6px solid #0366d6;
  }
  
  .search--select-fields {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0.1rem 0;
  }
  
  .search--select {
    background: whitesmoke;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    font-weight: lighter;
    margin-right: 0.5rem;
    padding: 0.5rem 1.2rem;
  }
  
  .search--select span {
    color: #2c3e50;
    font-size: 0.8rem;
    font-weight: 550;
  }
  
  .search--new-repo-button {
    background: #2ea44f;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
  }
  
  .repo {
    list-style-type: none;
    margin-top: 1.2rem;
    padding: 0;
  }
  
  .repo li {
    border-bottom: 1px solid #e1e4e8;
    margin-bottom: 0.1rem;
    padding-bottom: 0.8rem;
  }
  
  .repo--title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0.1rem 0;
  }
  
  .repo--details {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.1rem 0;
  }
  
  .repo--button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background: #f7f7f7;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;
    margin-top: 0.8rem;
    padding: 0.3rem 1.2rem;
  }
  
  .repo--button i {
    color: #999999;
  }
  
  .repo--name {
    color: #0366d6;
  }
  
  .repo--language {
    margin-top: 0.1rem;
  }
  
  .repo--language i {
    color: #2c3e50;
  }
  
  .repo--details {
    font-size: 0.8rem;
    margin: 0;
  }
  
  .repo--time {
    margin-top: 0.1rem;
    margin-left: 1.2rem;
  }
  
  .repo--pagination {
    border: 1px solid #e1e4e8;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 50%;
  }
  
  .repo--pagination button {
    background: #f8f8f8;
    border: none;
    color: #0366d6;
    font-size: 1.1rem;
    padding: 0.6rem 0.8rem;
    text-align: center;
    width: 55%;
  }
  
  .repo--pagination button:first-child {
    border-right: 1px solid #d3d3d3;
  }
  
  .select--option-modal {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(124, 122, 122, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
  }
  
  .select--option-list {
    background: #fff;
    border-radius: 8px;
    list-style: none;
    margin: 0 auto 0 auto;
    padding: 0rem 0 0.5rem 0;
    width: 90%;
  }
  
  .select--option-list li {
    border-bottom: 1px solid #f2f3f3;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  }
  
  .select--option-list li:first-child {
    border-bottom: 1px solid #f2f3f3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.1rem 1.2rem 1rem 1.2rem;
  }
  
  .select--option-list li:last-child {
    border-bottom: none;
  }
  
  .footer {
    border-top: 1px solid #e1e4e8;
    margin: 4.5rem auto 0 auto;
    padding: 1.5rem 0 0.9rem 0;
    width: 92%;
  }
  
  .footer--links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer--links li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 0.7rem;
  }
  
  .footer--links li a {
    text-decoration: none;
  }
  
  @media (main-width: 700px) {
    .footer {
      display: none;
    }
  }
  /*# sourceMappingURL=style.css.map */