html {
  color: #24292e;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-3dlight-color: red;
}

body {
  color: #24292e;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji";
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.header__mobile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #24292e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0.8rem 0.3rem 0.8rem 0.9rem;
}

.header__mobile--menu {
  color: #fff;
  font-size: 1.5rem;
  font-weight: lighter;
}

.header__mobile--logo {
  text-align: center;
}

.header__mobile--logo a {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

.header__mobile--notification {
  font-size: 1.3rem;
  text-align: right;
}

.header__mobile--notification span {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}

.header__mobile--notification i {
  bottom: 8px;
  color: #006eed;
  font-size: 0.7rem;
  position: relative;
  right: 15px;
}

.header__main {
  display: none;
}

.profile {
  margin: 0 auto;
  width: 92%;
}

.profile__setup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0rem;
}

.profile__details {
  text-align: left;
}

.profile--img {
  border: 1px solid #f3f3f3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  margin-right: 1.4rem;
  height: 55px;
  width: 55px;
}

.profile__setup--status {
  display: none;
}

.profile--name {
  margin: 0;
  margin-bottom: 0.2 rem;
}

.profile--username {
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0;
}

.profile--status {
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  margin-bottom: 0.3rem;
  padding: 0.4rem 0.6rem;
}

.profile--status i {
  color: #8a8a8a;
  margin-right: 0.3rem;
}

.profile--about {
  font-size: 1rem;
  margin-left: 0.2rem;
  margin-top: 0.6rem;
}

.profile--edit-button {
  background: #fafbfc;
  color: #5e5e5e;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: lighter;
  border: 1px solid #bebebe;
  border-radius: 4px;
  padding: 0.4rem 0;
  width: 100%;
}

.profile__extras--company {
  display: none;
}

.profile__extras--location {
  display: none;
}

.profile__extras--website {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.profile__extras--website a {
  color: #424242;
  font-size: 0.9rem;
  text-decoration: none;
}

.profile__extras--metrics {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.profile__extras--metrics p {
  font-size: 0.9rem;
  margin: 0;
  margin-top: 0.7rem;
  margin-right: 0.7rem;
  padding: 0;
}

.profile__extras--metrics-circle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 4px;
  font-size: 0.15rem;
  margin-left: 0.5rem;
  position: relative;
}

.profile--website a {
  color: #424242;
  text-decoration: none;
}

.tabs--container {
  margin-bottom: 1rem;
  margin-top: 2.9rem;
  padding: 0;
  overflow: scroll;
}

.tabs--container-fixed {
  background: #fff;
  overflow: scroll;
  position: fixed;
  top: -46px;
}

.tabs--list-fixed {
  border-bottom: none;
  padding-top: 1.2rem;
  width: 420px;
}

.tabs--list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e1e4e8;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  width: 430px;
}

.tabs--list li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5rem;
  padding-bottom: 0.5rem;
}

.tab--active {
  font-weight: 550;
}

.tab--active .tab--badge {
  font-weight: lighter;
}

.tabs--list li i {
  display: none;
}

.tabs--list li:last-child {
  margin-right: 0rem;
}

.tab--active {
  border-bottom: 2px solid orange;
}

.tab--badge {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dbdbdb;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  font-size: 0.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 23px;
  margin-left: 0.4rem;
  width: 23px;
}

.activity {
  margin: 0 auto;
  width: 92%;
}

.search--input {
  border: 0.5px solid #e1e4e8;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  width: 95%;
}

.search--input:focus-visible {
  border: 2px solid #0366d6;
}

.search--select-fields {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.1rem 0;
}

.search--select-button {
  background: white;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  cursor: pointer;
  font-weight: lighter;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
}

.search--select-button:hover {
  background: #f1f1f1;
}

.search--select-button span {
  color: #2c3e50;
  font-size: 0.8rem;
  font-weight: 550;
}

.search--select-button i {
  font-size: 0.6rem;
  margin-left: 0.3rem;
}

.search--new-repo-button {
  background: #2ea44f;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
}

.search--new-repo-button:hover {
  background: #24803e;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.search--new-repo-button i {
  font-weight: 550;
  margin-right: 0.2rem;
}

.repo {
  list-style-type: none;
  margin-top: 1.2rem;
  padding: 0;
}

.repo li {
  border-bottom: 1px solid #e1e4e8;
  margin-bottom: 0.1rem;
  padding-bottom: 0.8rem;
}

.repo--title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.1rem 0;
}

.repo--details {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.1rem 0;
}

.repo--button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #f7f7f7;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  margin-top: 0.8rem;
  padding: 0.3rem 1.2rem;
}

.repo--button i {
  color: #999999;
}

.repo--name {
  color: #0366d6;
}

.repo--language {
  margin-top: 0.1rem;
}

.repo--language i {
  color: #2c3e50;
}

.repo--details {
  font-size: 0.8rem;
  margin: 0;
}

.repo--time {
  margin-top: 0.1rem;
  margin-left: 1.2rem;
}

.repo--pagination {
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.repo--pagination button {
  background: #f8f8f8;
  border: none;
  color: #0366d6;
  font-size: 1.1rem;
  padding: 0.6rem 0.8rem;
  text-align: center;
  width: 55%;
}

.repo--pagination button:first-child {
  border-right: 1px solid #d3d3d3;
}

.select--option-modal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(124, 122, 122, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.select--option-list {
  background: #fff;
  border-radius: 8px;
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0rem 0 0.5rem 0;
  width: 90%;
}

.select--option-list li {
  border-bottom: 1px solid #f2f3f3;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
}

.select--option-list li:first-child {
  border-bottom: 1px solid #f2f3f3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.1rem 1.2rem 1rem 1.2rem;
}

.select--option-list li:last-child {
  border-bottom: none;
}

.floating--profile {
  display: none;
}

.footer {
  border-top: 1px solid #e1e4e8;
  margin: 4.5rem auto 0 auto;
  padding: 1.5rem 0 3.5rem 0;
  width: 92%;
}

.footer--links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer--links li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.8rem;
  font-weight: lighter;
  padding: 0 0.3rem;
}

.footer--links li a {
  text-decoration: none;
}

.footer--links li i {
  display: none;
}

@media screen and (min-width: 700px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    -ms-grid-columns: 22% 78%;
        grid-template-columns: 22% 78%;
    margin: 2rem auto 0 auto;
    width: 100%;
  }
  .header__mobile {
    display: none;
  }
  .header__main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #24292e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0.4rem 1.7rem 0.4rem 1.7rem;
  }
  .header__main--first {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .header__main--first--logo {
    color: #fff;
    font-size: 2rem;
    margin-right: 1rem;
  }
  .header__main--first--search {
    background: transparent;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
    margin-right: 1.1rem;
    padding: 0.47rem 0.5rem;
    width: 235px;
  }
  .header__main--first--search::-webkit-input-placeholder {
    color: #e2e2e2;
  }
  .header__main--first--search:-ms-input-placeholder {
    color: #e2e2e2;
  }
  .header__main--first--search::-ms-input-placeholder {
    color: #e2e2e2;
  }
  .header__main--first--search::placeholder {
    color: #e2e2e2;
  }
  .header__main--first--links {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style-type: none;
    padding: 0;
  }
  .header__main--first--links a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 1.2rem;
    text-decoration: none;
  }
  .header__main--profile-img {
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
  .header__main--notification--bell {
    color: #fff;
  }
  .header__main--notification i {
    color: #006eed;
    bottom: 7px;
    font-size: 0.6rem;
    position: relative;
    right: 11px;
  }
  .header__main--second {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__main--second--addition {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.2rem;
    margin-left: 0.8rem;
  }
  .header__main--second--plus {
    font-size: 0.9rem;
    font-weight: lighter;
  }
  .header__main--second--arrow {
    font-size: 0.5rem;
    margin-left: 0.25rem;
  }
  .header__main--second--profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 0.5rem;
    margin-left: 0.8rem;
  }
  .header__main--second--profile {
    color: #fff;
  }
  .header__main--second--profile i {
    font-size: 0.5rem;
    margin-left: 0.25rem;
  }
  .profile {
    margin: 0;
    margin-top: 0.5rem;
    padding-left: 1.3rem;
    width: 100%;
  }
  .profile__setup {
    display: block;
  }
  .profile__setup--status {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 50%;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 37px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: -75px;
    left: 235px;
    width: 37px;
  }
  .profile--img {
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 270px;
    margin: 0;
    margin-left: 0.5rem;
    width: 270px;
  }
  .profile__details {
    margin-top: -1.65rem;
    margin-bottom: 1.3rem;
  }
  .profile--name {
    margin: 0;
    margin-bottom: 0.2rem;
  }
  .profile--username {
    font-size: 1.1rem;
    font-weight: 100;
    margin: 0;
  }
  .profile--status {
    display: none;
  }
  .profile--status i {
    color: #8a8a8a;
    margin-right: 0.3rem;
  }
  .profile--about {
    font-size: 1rem;
    margin-left: 0rem;
    margin-top: 0rem;
  }
  .profile--edit-button {
    background: #fafbfc;
    color: #5e5e5e;
    font-size: 0.9rem;
    font-weight: lighter;
    border: 1px solid #bebebe;
    border-radius: 4px;
    padding: 0.4rem 0;
    width: 100%;
  }
  .profile__extras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .profile__extras--company, .profile__extras--location, .profile__extras--website {
    display: block;
    font-size: 0.9rem;
    margin: 0;
    padding: 0.3rem 0;
  }
  .profile__extras--company i, .profile__extras--location i, .profile__extras--website i {
    color: #7e7e7e;
  }
  .profile__extras--website a {
    color: #424242;
    font-size: 0.9rem;
    text-decoration: none;
  }
  .profile__extras--metrics {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.3rem;
    margin-top: 0.3rem;
    padding: 0;
  }
  .profile__extras--metrics p {
    font-size: 0.9rem;
    margin: 0;
    margin-top: 0.7rem;
    margin-right: 0.7rem;
    padding: 0;
  }
  .profile__extras--metrics-circle {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 4px;
    font-size: 0.15rem;
    margin-left: 0.5rem;
    position: relative;
  }
  .activity {
    margin: 0 auto 0 3rem;
    width: 93%;
  }
  .tabs--container {
    border-bottom: 1px solid #e1e4e8;
    margin-bottom: 1rem;
    margin-top: 0rem;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
  .tabs--container-fixed {
    background: #fff;
    overflow: hidden;
    position: fixed;
    top: 0px;
  }
  .tabs--list-fixed {
    border-bottom: 1px solid  #e1e4e8;
    margin-left: 2.5rem;
    padding-top: 0.75rem;
    overflow: hidden;
    width: 100%;
  }
  .tabs--list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 2.2rem;
  }
  .tabs--list li {
    cursor: pointer;
    font-size: 0.89rem;
    margin-right: 1.5rem;
    padding-bottom: 0.8rem;
  }
  .tabs--list li i {
    color: #9c9c9c;
    display: block;
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
  .tabs--list li:last-child {
    margin-right: 0rem;
  }
  .tab--active {
    border-bottom: 2px solid orange;
  }
  .search {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: 1px solid #e7e7e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .search--input {
    border: 0.5px solid #e1e4e8;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-right: 0;
    padding: 0.5rem 0.5rem;
    width: 59%;
  }
  .search--select-button {
    background: whitesmoke;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    font-weight: lighter;
    padding: 0.5rem 1rem;
  }
  .search--select-button span {
    color: #2c3e50;
    font-size: 0.8rem;
    font-weight: 550;
  }
  .search--select-button i {
    font-size: 0.6rem;
    margin-left: 0.3rem;
  }
  .repo {
    margin-top: 0.7rem;
  }
  .search--new-repo-button {
    background: #2ea44f;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-left: 0.7rem;
    padding: 0.5rem 1.2rem;
  }
  .search--new-repo-button i {
    font-weight: 550;
    margin-right: 0.2rem;
  }
  .floating--profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #fff;
    border-bottom: 1px solid  #e1e4e8;
    padding-left: 1.3rem;
    position: fixed;
    top: 0;
    width: 25%;
  }
  .floating--profile img {
    border-radius: 50%;
    height: 30px;
    margin-right: 0.6rem;
    width: 30px;
  }
  .floating--profile p {
    font-size: 0.9rem;
    font-weight: bold;
    padding-top: 0.3rem;
  }
  .footer {
    border-top: 1px solid #e1e4e8;
    margin: 4.5rem auto 0 auto;
    padding: 1.5rem 0 3.5rem 0;
    width: 97%;
  }
  .footer--links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer--links li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 0.9rem;
    font-weight: lighter;
    margin-left: 2.2rem;
    padding: 0 0.3rem;
  }
  .footer--links li:first-child {
    margin-left: 0rem;
  }
  .footer--links li a {
    text-decoration: none;
  }
  .footer--links li i {
    color: #b1b1b1;
    display: block;
    font-size: 1.8rem;
    margin-right: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */